@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';

.hero-section {
  background: linear-gradient(180deg, lighten($black, 15%), $black);
  padding: 3rem 0;
  width: 100%;

  h1 {
    line-height: 1;
    padding: 1rem 0 0.5rem;

    span {
      color: $almost-white;
      font-size: 7rem;
      letter-spacing: -2px;
      line-height: 1;
      text-shadow: 0 0 $transparent, 0 0 $transparent;
      transition: 0.4s ease all;

      &:hover {
        text-shadow: -6px -6px $trans-yellow, 6px 6px $trans-green;
      }
    }
  }

  h2 {
    color: $light-gray;
    font-family: $mono;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 3rem;
  }
}

.info {
  background-color: $almost-white;
  padding: 5rem 0;
  width: 100%;

  .info-content {
    margin: 0 auto;
    max-width: 740px;
    width: 80%;

    p {
      font-size: 1.1rem;
      line-height: 1.618;

      a {
        @include link-underline(darken($light-gray, 15%), $green, darken($light-gray, 30%));
      }
    }
  }
}

h4 {
  margin-top: 1rem;

  &.padme {
    padding-bottom: 0.5rem;
  }
}

.track-info {
  margin-bottom: 2rem;

  div {
    height: 50px;
    margin: 1rem auto 0;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
    }

    a {
      @include link-underline(darken($light-gray, 15%), $green, darken($light-gray, 30%));

      font-size: 1.25rem;
      line-height: 1.8;
      margin-left: 3rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  p {
    font-size: 1rem;
    margin-left: 3rem;
  }

}

@media screen and (max-width: $phone-landscape-max) {
  .track-info div a, .track-info p {
    margin-left: 3.5rem;
  }
}

