{{#extend "base"}}
{{#content "main" mode="prepend"}}

{{> nav}}

<div class="hero-section">
	<h1><span>Learn</span></h1>
	<h2>with the DevFest tracks</h2>
</div>

<div class="info">
	<div class="info-content">
		<p>The DevFest Tracks are self-paced online tutorials that teach you how to build fully-functional projects from start to finish. Each track is comprised of 5 “levels” of curriculum. Each level will first introduce a selection of technical concepts and then teach you how to apply these ideas towards the track project. After completing all 5 levels of a track, you will have the foundation to learn more on your own by exploring additional resources.</p>

		<h3>Which tracks should I learn?</h3>

		<h4>I'm new to programming.</h4>

		<div class="track-info">
			<div>
				<img src="{{img.beginner}}">
				<a href="/beginner">Beginner Web Development</a>
			</div>
			<p>Learn to build a personal website with HTML, CSS, and JavaScript. No experience required.</p>
		</div>

		<h4 class="padme">I'm familiar with at least one programming language.</h4>

		<div class="track-info">
			<div>
				<img src="{{img.ios}}">
				<a href="/ios">iOS Development</a>
			</div>
			<p>Learn to build basic iOS apps with Swift.</p>
		</div>
		<div class="track-info">
			<div>
				<img src="{{img.web}}">
				<a href="/web">Web Development</a>
			</div>
			<p>Learn to build web apps with Flask and Mongo.</p>
		</div>
		<div class="track-info">
			<div>
				<img src="{{img.datascience}}">
				<a href="/datascience">Data Science</a>
			</div>
			<p>Learn to make meaningful observations about data sets using Python and R.</p>
		</div>



		<h3>Track Micro-lectures</h3>

		<p>On Monday and Tuesday, we will host 30-minute micro-lectures for all of the tracks, which will walk you through the first steps of each project and give you the foundation you need to finish at the DevSpace. See <a href="https://devfe.st/#schedule">the event schedule</a> for more details.</p>

		<h3>Tech Electives</h3>

		<p>The DevFest Tracks are the primary educational curriculum of DevFest. However, in addition to the tracks, we’ll have tech electives throughout the week in topics such as Python, React, and Machine Learning, that you can diversify your learning with. We hope that with all of these educational offerings, there’s something for everyone at DevFest. See <a href="https://devfe.st/#schedule">the event schedule</a> for more details.</p>
	</div>

</div>

{{> footer}}

{{/content}}
{{/extend}}
