{{#extend "base"}}
{{#content "main" mode="prepend"}}

{{> nav}}

<div class="hero-section">
	<h1><span>Learn</span></h1>
	<h2>with the DevFest tracks</h2>
</div>

<div class="info">
	<p>The DevFest Tracks are self-paced online tutorials that teach you how to build fully-functional projects from start to finish. Each track is comprised of 5 “levels” of curriculum. Each level will first introduce a selection of technical concepts and then teach you how to apply these ideas towards the track project. After completing all 5 levels of a track, you will have the foundation to learn more on your own by exploring additional resources.</p>
</div>

{{/content}}
{{/extend}}
