<nav class="d-f-wrapper" id="top">
	<a href="#top" class="d-f top-link">
		<img class="d" src="{{img.d}}"/>
		<img class="f" src="{{img.f}}"/>
	</a>

	<div class="links-wrapper">
		<ul>
			<li><a href="/beginner">Beginner</a></li>
			<li><a href="/webdev">Web</a></li>
			<li><a href="/ios">iOS</a></li>
			<li><a href="/datascience">Data Science</a></li>
		</ul>
	</div>

	<div id="burger">
		<div class="patty"></div>
		<div class="patty"></div>
		<div class="patty"></div>
	</div>
</nav>
